body {
    background-color: rgb(244, 231, 198, 0.8);
}

h1{
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 45px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
    height: 18px;
}

#p2{
    font-size: 25px;
    margin-left: 5px;
}

li{
    font-size: 18px;
}

a{
    color: black;
}

a:hover{
    color: grey;
}

.box1{
    border: 2px solid black;
    width: 720px;
    margin-left: 145px;
    border-radius: 10px;
}

.flex1 {
    display: flex;
    margin-left: 145px;
}

.flex2 {
    display: flex;  
}

#skill{
    margin-left: 600px;
}

#insta{
    width: 30px;
}

#link{
    width: 30px;
}